.calc_title_name {
  font-weight: 700 bold;
  font-size: 48px;
  /* margin-left: 130px; */
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 35vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  /* border: none; */
  background-color: #00512e;
}

.first_section {
  width: 50%;
  margin-right: 90px;
}

.second_section {
  /* padding-left: 0px; */
  width: 40%;
}

.but_filter {
  width: 280px;
  height: 50px;
  top: 10px;
  background-color: #00512e;
  color: white;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600 bold;
  margin-top: 52px;
}

.but_filter_second {
  width: 280px;
  height: 50px;
  top: 10px;
  background-color: #00512e;
  color: white;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600 bold;
  margin-top: 52px;
  margin-left: 20px;
}

.currency {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.point {
  display: flex;
  /* justify-content: end; */
  margin-top: 30px;
}

.calc_info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}

.point_name {
  font-size: 18px;
  font-weight: 400 bold;
}

.point_price {
  font-size: 18px;
  font-weight: 700 bold;
  color: #ffd600;
  font-family: "Azeret Mono", monospace;
}

.but_group {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

.last_but {
  background-color: #ffd600;
  width: 217px;
  height: 50px;
  border-radius: 10px !important;
  color: #000;
  font-size: 18px;
  margin-left: 30px;
}

.first_but {
  border-radius: 10px;
  width: 101px;
  font-size: 18px;
  color: #989898;
  background-color: #fff;
}

.second_but {
  border-radius: 10px !important;
  font-size: 18px;
  background-color: #fff;
  color: #989898;
  width: 101px;
}

.third_but {
  border-radius: 10px !important;
  font-size: 18px;
  background-color: #fff;
  color: #989898;
  width: 101px;
}

.compute {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #ffd600;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 0;
}

.account {
  margin-top: 150px;
}

.last_one {
  height: 120px;
}

.main_buttons button {
  background-color: #fff;
}

.currency_button {
  border-radius: 10px !important;
  color: #00512e;
}
.currency_button:hover {
  background-color: #00512e !important;
  color: #fff;
}

.currency_button:not(:last-child) {
  margin-right: 5px;
}

.currency_button.active {
  background-color: #00512e !important;
  color: #fff;
}

.payment_button {
  background-color: #fff;
  color: black;
  margin-left: 30px;
}

.payment_button:hover {
  background-color: #00512e !important;
  color: #fff;
}

.payment_button.active {
  background-color: #00512e !important;
  color: #fff;
}

.last_but:hover {
  background-color: #000;
  color: #fff;
}
/* .button_percent {
  margin-left: 30px;
} */

@media only screen and (max-width: 1200px) {
  /* .calc_info {
    justify-content: center;
  } */
  /* .second_section {
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .account {
    margin-top: 50px;
  } */
  .but_filter_second {
    margin-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .second_section {
    margin-top: 50px;
    width: 80%;
    float: left;
  }
  .account {
    margin-top: 50px;
  }
  .but_filter_second {
    margin-left: 20px;
  }
  .filter_name {
    display: flex;
    justify-content: center;
  }
  .calc_info {
    justify-content: space-between;
  }
  .payment_button {
    margin-left: 30px;
  }
  .but_group {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 710px) {
  .first_section {
    width: 100%;
  }
  .but_filter_second {
    margin-left: 0;
  }
  .main_calc {
    margin-top: 100px;
  }
  .payment_button {
    width: 100px;
  }
  .button_group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .last_but {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .calc_title_name {
    margin-left: 0;
  }
  .calc_title_line {
    width: 70%;
  }
}
