.calc_title_name {
  font-weight: 700 bold;
  font-size: 48px;
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 40vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  background-color: #00512e;
}
.main_program {
  padding: 0 90px;
  margin: 0 auto;
  background-color: #fcfcfc;
}

.efficiency {
  padding-top: 60px !important;
  padding: 0 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 68px 41px rgba(0, 0, 0, 0.01),
    0px 30px 30px rgba(0, 0, 0, 0.02), 0px 8px 17px rgba(0, 0, 0, 0.02),
    0px 0px 0px rgba(0, 0, 0, 0.02);
  width: 280px;
}

.efficiency span {
  color: #989898;
  font-size: 14px;
}

.efficiency h4 {
  text-align: center;
  font-weight: 700 bold;
}

.calc_title_line_two {
  width: 80vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  background-color: #00512e;
}
.programs_info {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
  flex-wrap: wrap;
}

.program_percentage {
  height: 550px;
  width: 280px;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.program_traffic {
  background-color: #00512e;
  color: #fff;
  text-align: center;
  position: relative;
  height: 90px;
  border-radius: 10px 10px 0 0;
}
.program_traffic h2 {
  padding-top: 8px;
}

.tarif {
  background-color: #ffd600;
  color: #000;
  width: 220px;
  height: 70px;
  position: absolute;
  text-align: center;
  margin-left: 30px;
  border-radius: 10px;
}
.programms_rating {
  display: flex;
  flex-direction: column;
  border: black solid;
}

.tittle_first {
  text-align: center;
  margin-top: 70px;
}

.image_bot {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  width: 1200px;
}

.img_num {
  padding-top: 50px !important;
}

.programms_rate {
  display: flex;
  justify-content: space-around;
  color: white;
}

.rate_first {
  background-color: #00512e;
  width: 220px;
  text-align: center;
  height: 60px;
  padding-top: 15px;
  font-size: 19px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rate_second {
  color: #000;
  background-color: #fcfcfc;
  width: 220px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
}

.rate_second_main {
  color: #00512e;
  background-color: #fcfcfc;
  width: 220px;
  height: 60px;
  margin-top: 20px;
  font-weight: 400, Regular;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
}

.programms_note {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.note {
  background-color: #ffd600;
  font-size: 24px;
  width: 220px;
  height: 60px;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  padding-left: 20px;
}

.last_note {
  width: 460px;
  height: 60px;
  font-size: 16px;
  color: #ffd600;
  background-color: #fcfcfc;
  font-weight: 700 bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
}

.main_programms_rate {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.img_char {
  width: 400px;
}

@media only screen and (max-width: 992px) {
  .image_bot {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  .main_programms_rate {
    width: 100%;
  }
  .tittle_first {
    margin-top: 150px;
  }
  .calc_title_line_two {
    width: 100%;
  }
  .img_char {
    margin: 0 auto;
  }
  .rate_first {
    height: auto;
    padding-left: 0;
  }
}
