.first_residen {
  height: 800px;
  background-image: url("../assets/img/catal.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  margin-left: calc(50% - 49.5vw);
  margin-right: calc(50% - 49.4vw);
}

.take_res {
  width: 710px;
  height: 394px;
  /* background-color: #fff; */
  /* opacity: 0.7; */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  /* margin-top: 210px; */
}

.res_but {
  background-color: #ffd600;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 0;
}

.main_res {
  padding-top: 215px;
}

.calc_title_name {
  font-weight: 700 bold;
  font-size: 48px;
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 50vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  background-color: #00512e;
} /*
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
} */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e6e6e6;
} */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 40px 0 80px;
}
.card {
  width: 320px;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 68px 41px rgba(0, 0, 0, 0.01),
    0px 30px 30px rgba(0, 0, 0, 0.02), 0px 8px 17px rgba(0, 0, 0, 0.02),
    0px 0px 0px rgba(0, 0, 0, 0.02);
  margin-right: 40px;
  margin-top: 50px;
}
.card:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
}
.card:hover .card__image {
  transform: translateY(-10px);
}
.card:hover .card__thumb::after {
  top: 0;
}
.card:hover .card__snippet {
  margin: 20px 0;
}
.card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  margin: 0;
  height: 450px;
}

.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  ); */
  transition: 0.3s;
}

.card__image {
  transition: 0.5s ease-in-out;
}
.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: white;
  transform: translateY(-50%);
  /* text-align: center; */
  padding-left: 15px;
  transition: 0.3s;
  border-radius: 10px;
  /* padding-top: 70px; */
}

.card__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 28px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #00512e;
}
.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  /* margin: 10px 0; */
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card__button {
  display: inline-block;
  /* padding: 10px 20px; */
  color: white;
  /* border: 1px solid white; */
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  /* text-transform: uppercase; */
  text-decoration: none;
  transition: 0.3s;
  background-color: #ffd600;
  width: 290px;
  height: 50px;
  text-align: center;
  font-size: 21px;
  border-radius: 10px;
  margin-top: 50px;
  padding-top: 10px;
}
.card__button:hover {
  color: white;
  background-color: #ffd600;
}
.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
}
.disclaimer__link {
  color: #755d87;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .card__caption {
    top: calc(100% - 110px);
    transform: unset;
  }
  .card__snippet {
    margin: 60px 0;
  }
  .card__thumb::after {
    top: calc(100% - 140px);
  }
}

@media only screen and (max-width: 780px) {
  .calc_title_line {
    width: 90%;
    margin-left: 0;
  }
  .take_res {
    width: 100%;
  }
  .halal_icon {
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
  }
  .take_res h1 {
    padding-left: 0 !important;
    text-align: center;
  }
  .button_style {
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
  }
}
@media only screen and (max-width: 650px) {
  .calc_title_line {
    width: 90%;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .take_res {
    width: auto;
  }
}
