.calc_title_name {
  font-weight: 700 bold;
  font-size: 48px;
  margin-left: 130px;
  /* line-height: 4px; */
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 510px;
  margin-left: 0;
  height: 9px;
  /* border: none; */
  background-color: #00512e;
}

.first_modals {
  height: 300px;
  width: 500px;
  /* background-color: #fcfcfc; */
  /* background-color: grey; */
  background-image: url("../assets/img/example.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  margin-left: 50px;
}

.firstt {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  /* background-color: #fff; */
  margin: 0 auto;
  /* padding-top: 50px; */
}

/* .buttt {
  /* align-self: center; */
/* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
  padding: 10px; */
/* } */

.main_block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main_modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: hidden;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

/* .modal_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 640px;
  min-width: 360px;
} */

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.player {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  /* padding: 14px 28px; */
  /* border-radius: 3px;
  max-width: 640px;
  min-width: 360px; */
}
